<!-- Info Section -->
<div class="container">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="headline centered margin-top-80">
				FAQ
			</h2>
		</div>
	</div>
	
	<div class="row">
	    <div class="col-md-12">
	        <h3>Quel est le concept ?</h3>
	        <p>Le concept est une plateforme qui permet aux personnes ayant besoin les services d'un artisan de pouvoir en trouver un près de chez soit et de sélectionner le meilleur en ce basant sur les avis des autres personnes ayant déjà fait appel à cet artisan.</p>
	        <p>Mais également aux artisans qui veulent développer leurs clientèles de souscrire à l'abonnement leurs permettant d'être référencer sur la plateforme.</p>
	        
	        <h3>Existe-t-il des conditions pour s'inscrire sur la plateforme ?</h3>
	        <p>Non, aucunes conditions particulière pour s'inscrire sur la plateforme mis à part des informations de base.</p>
	        
	        <h3>A qui s'adresse l'abonnement permettant d'enregistrer son entreprise ?</h3>
	        <p>Pour les artisans souhaitant enregistrer leur(s) entreprise(s) sur la plateforme pour développer leurs clientèles grâce à la visite de nombreux particuliers qui cherchent des artisans pour différents besoins.</p>
            
            <h3>Peut-on annuler l'abonnement à tout moment ?</h3>
            <p>Oui, il n'y a aucunes conditions pour annuler l'abonnement permettant d'enregistrer son entreprise.</p>
            <p>Par conséquent le/les entreprise(s) enregistrée sur la plateforme du souscripteur seront supprimer et donc plus référencée.</p>
            
	    </div>
	</div>

</div>
<!-- Info Section / End -->



<!-- Footer
================================================== -->
<div id="footer" class="sticky-footer">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<img class="footer-logo" src="/assets/logovitartisan2.png" alt="">
				<br><br>
				<p>Annuaire pour les artisans de France qui cherchent à développer leurs clientèles et pour les personnes qui ont besoin du meilleur artisan pour réaliser le meilleur dépannage.</p>
			</div>

			<div class="col-md-4 col-sm-6 ">
				<h4>Liens utiles</h4>
				<ul class="footer-links">
					<li><a href="<%= new_user_session_path %>">Connexion</a></li>
					<li><a href="<%= new_user_registration_path %>">Inscription</a></li>
					<li><a href="<%= politique_de_confidentialite_path %>">Politique de confidentialité</a></li>
				</ul>

				<ul class="footer-links">
					<li><a href="#">FAQ</a></li>
					<li><a href="<%= blog_path %>">Blog</a></li>
					<li><a href="<%= contact_path %>">Contact</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>		

			<div class="col-md-3  col-sm-12">
				<h4>Contactez-nous</h4>
				<div class="text-widget">
				<!--	<span>12345 Little Lonsdale St, Melbourne</span> <br>
					Phone: <span>(123) 123-456 </span><br>-->
					E-Mail:<span> <a href="#">contact@reparee.fr</a> </span><br>
				</div>

				<ul class="social-icons margin-top-20">
					<li><a href="#"><img src="/assets/facebook.png"></a></li>
					<li><a href="#"><img src="/assets/twitter.png"></a></li>
					<li><a href="#"><img src="/assets/google-plus.png"></i></a></li>
				</ul>

			</div>

		</div>
		
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">© 2018 Reparee. Tous droits réservés.</div>
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->