<!-- Banner
================================================== -->
<div class="main-search-container" data-background-image="/assets/main-search-background-10.jpg">
	<div class="main-search-inner">
	    <!--<img src="/assets/main-search-background-01.jpg" />-->

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 style="margin-top:50px;">Trouvez votre artisan pour vos besoins</h2>
					<h4>Explorer l'ensemble des entreprises artisanales dans différentes ville</h4>
                
                <%= form_tag searching_path, method: :get do %>
					<div class="main-search-input">

						<div class="main-search-input-item location">
							<div id="autocomplete-container">
								<!--<input id="autocomplete-input" type="text" placeholder="Location">-->
								<%= text_field_tag :searching, params[:searching], placeholder: "Où ? dans quelle ville, adresse ?", class:"form-control", id:"autocomplete-input" %>
							</div>
							<a href="#"><i class="fa fa-map-marker"></i></a>
						</div>

						<div class="main-search-input-item">
							<!--<select data-placeholder="All Categories" class="chosen-select" >
								<option>All Categories</option>	
								<option>Shops</option>
								<option>Hotels</option>
								<option>Restaurants</option>
								<option>Fitness</option>
								<option>Events</option>
							</select>-->
							 <%= select :category_artisan, params[:category_artisan], [["Plombier","Plombier"],["Serrurier","Serrurier"]], class:"chosen-select" %>
						</div>

						<!--<button class="button" onclick="window.location.href='listings-half-screen-map-list.html'">Search</button>-->
                        <%= submit_tag "Recherche", class:"button" %>
					</div>
					<% end %>
					<br><br>
					<%= form_tag searchcompany_path, method: :get do %>
					    <div class="row">
					        <div class="col-md-10">
					            <%= select :category_artisan, params[:category_artisan], [["Plombier","Plombier"],["Serrurier","Serrurier"]], prompt:"A sélectionner...", class:"form-control" %>
					        </div>
					        <div class="col-md-2">
					            <%= submit_tag "Recherche", class:"btn btn-primary" %>
					        </div>
					    </div>
					<% end %>
				</div>
			</div>
		</div>

	</div>
</div>


<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-45">
				Vous avez un dépannage à faire
					<span>Trouver le meilleur artisan pour votre besoin...</span>
				</h3>
			</div>
			
			
			<% @companies.each do |company| %>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading preview">
                    <%= image_tag company.photos[0].image.url(:medium) if company.photos.length > 0 %>
                </div>
                <div class="panel-body">
                    <p class="home-link"><b><%= link_to company.listingname, company_path(company) %> - <%= link_to company.category_artisan, company_path(company) %></b></p>
                    <p>Nombre d'avis : (<%= company.reviews.count %>)</p>
                </div>
            </div>
        </div>
    <% end %>
			

		</div>
	</div>

</section>
<!-- Fullwidth Section / End -->

<!-- Content
================================================== -->
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-top-75">
				Classement par catégories
			</h3>
		</div>

	</div>
</div>


<!-- Category Boxes -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="categories-boxes-container margin-top-5 margin-bottom-30">
				
				<!-- Box -->
				<a href="listings-list-with-sidebar.html" class="category-small-box">
					<i><%= image_tag('pipe', :style => 'width:40px;') %></i>
					<h4>Plombier</h4>
				</a>

				<!-- Box -->
				<a href="listings-list-with-sidebar.html" class="category-small-box">
					<i><%= image_tag('lock', :style => 'width:40px;') %></i>
					<h4>Serrurier</h4>
				</a>

				<!-- Box -->
				<a href="listings-list-with-sidebar.html" class="category-small-box">
					<i><%= image_tag('clean-window-glass', :style => 'width:40px;') %></i>
					<h4>Vitrier</h4>
				</a>

				<!-- Box -->
				<a href="listings-list-with-sidebar.html" class="category-small-box">
					<i><%= image_tag('radiator', :style => 'width:40px;') %></i>
					<h4>Chauffagiste</h4>
				</a>

				<!-- Box -->
				<a href="listings-list-with-sidebar.html" class="category-small-box">
					<i><%= image_tag('broken-cable', :style => 'width:40px;') %></i>
					<h4>Electricien</h4>
				</a>

				<!-- Box -->
				<a href="listings-list-with-sidebar.html" class="category-small-box">
					<i><%= image_tag('car-with-wrench', :style => 'width:40px;') %></i>
					<h4>Garagiste</h4>
				</a>

			</div>
		</div>
	</div>
</div>
<!-- Category Boxes / End -->


<div class="banner-breadcum section">
<div class="row">
		<div class="breadcrumb-image" style="background-image: url(https://images.pexels.com/photos/544117/pexels-photo-544117.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);">
    <div class="container text-center">
        <h1>Comment ça fonctionne ?</h1>
            <div class="breadcrumbs_path">
                <a href="#<%= faq_path %>">FAQ</a>
            </div>      
    </div>
</div>
	</div>
</div>


<!-- Info Section -->
<div class="container">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="headline centered margin-top-80">
				Le meilleur artisan pour votre dépannage 
				<span class="margin-top-25">Explorer l'ensemble des artisans présents sur la plateforme.  Choisissez celui qui vous convient.</span>
			</h2>
		</div>
	</div>

	<div class="row icons-container">
		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="fas fa-street-view" style="color: #F91949;"></i>
				<h3>Trouvez un artisan pour votre problème</h3>
				<p>Toutes les catégories artisanales sont présentes sur la plateforme.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="fas fa-comments" style="color: #F91949;"></i>
				<h3>Contacter l'artisan</h3>
				<p>Vous pouvez échanger avec les artisans sur la plateforme et également voir les feedback des autres utilisateurs.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="far fa-address-book" style="color: #F91949;"></i>
				<h3>Faite une prise de rendez-vous</h3>
				<p>Prenez rendez-vous avec l'artisan que vous voulez et laisser un avis après service rendu.</p>
			</div>
		</div>
	</div>

</div>
<!-- Info Section / End -->
<br><br>

<div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
		<div class="testimonial4_header">
			<h4>Ce que les artisans pensent de la plateforme</h4>
		</div>
		<ol class="carousel-indicators">
			<li data-target="#testimonial4" data-slide-to="0" class="active"></li>
			<li data-target="#testimonial4" data-slide-to="1"></li>
			<li data-target="#testimonial4" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="testimonial4_slide">
						<%= image_tag 'ivan', class:"img-circle img-responsive" %>
					<p>"J'ai pu avoir 3 clients en moins de 1 semaine, merci à Reparee !"</p>
					<h4>Thierry Wieczorek</h4>
				</div>
			</div>
			<div class="item">
				<div class="testimonial4_slide">
					<%= image_tag 'thierry', class:"img-circle img-responsive" %>
					<!--<img src="http://via.placeholder.com/100x100" class="img-circle img-responsive" />-->
					<p>"Ayant travaillé pour une société de dépannage j'ai décidé de me mettre à mon compte et Reparee m'a permis de développer ma clientèle."</p>
					<h4>Stéphane Michaud</h4>
				</div>
			</div>
			<div class="item">
				<div class="testimonial4_slide">
					<%= image_tag 'stephane', class:"img-circle img-responsive" %>
					<p>"J'ai décidé de me mettre en indépendant et pour trouver mes clients je passe par MyRepair qui me permet de trouver des clients pour des dépannages."</p>
					<h4>Rodrigue Ojeda</h4>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#testimonial4" role="button" data-slide="prev">
			<span class="fa fa-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#testimonial4" role="button" data-slide="next">
			<span class="fa fa-chevron-right"></span>
		</a>
	</div>
	
	
	
	
	<!-- Parallax -->
<div class="parallax"
	data-background="images/slider-bg-02.jpg"
	data-color="#36383e"
	data-color-opacity="0.6"
	data-img-width="800"
	data-img-height="505">

	<!-- Infobox -->
	<div class="text-content white-font">
		<div class="container">

			<div class="row">
				<div class="col-lg-6 col-sm-8">
					<h2>Développer votre clientèle</h2>
					<p>Vous êtes un artisan et vous avez besoin de nouveaux clients. Inscrivez-vous sur l'annuaire et soyez présent sur le plus important annuaire des artisans qui compte plus de 10 000 visites par mois.</p>
					<a href="listings-list-with-sidebar.html" class="button margin-top-25">Inscrivez-vous</a>
				</div>
			</div>

		</div>
	</div>

	<!-- Infobox / End -->

</div>
<!-- Parallax / End -->

<!-- Footer
================================================== -->
<div id="footer" class="sticky-footer">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<img class="footer-logo" src="/assets/logovitartisan2.png" alt="">
				<br><br>
				<p>Annuaire pour les artisans de France qui cherchent à développer leurs clientèles et pour les personnes qui ont besoin du meilleur artisan pour réaliser le meilleur dépannage.</p>
			</div>

			<div class="col-md-4 col-sm-6 ">
				<h4>Liens utiles</h4>
				<ul class="footer-links">
					<li><a href="<%= new_user_session_path %>">Connexion</a></li>
					<li><a href="<%= new_user_registration_path %>">Inscription</a></li>
					<li><a href="<%= politique_de_confidentialite_path %>">Politique de confidentialité</a></li>
				</ul>

				<ul class="footer-links">
					<li><a href="<%= faq_path %>">FAQ</a></li>
					<li><a href="<%= blog_path %>">Blog</a></li>
					<li><a href="<%= contact_path %>">Contact</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>		

			<div class="col-md-3  col-sm-12">
				<h4>Contactez-nous</h4>
				<div class="text-widget">
				<!--	<span>12345 Little Lonsdale St, Melbourne</span> <br>
					Phone: <span>(123) 123-456 </span><br>-->
					E-Mail:<span> <a href="#">contact@reparee.fr</a> </span><br>
				</div>

				<ul class="social-icons margin-top-20">
					<li><a href="#"><img src="/assets/facebook.png"></a></li>
					<li><a href="#"><img src="/assets/twitter.png"></a></li>
					<li><a href="#"><img src="/assets/google-plus.png"></i></a></li>
				</ul>

			</div>

		</div>
		
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">© 2018 Reparee. Tous droits réservés.</div>
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

<!-- Google Autocomplete -->
<script>
  function initAutocomplete() {
    var input = document.getElementById('autocomplete-input');
    var autocomplete = new google.maps.places.Autocomplete(input);

    autocomplete.addListener('place_changed', function() {
      var place = autocomplete.getPlace();
      if (!place.geometry) {
        window.alert("No details available for input: '" + place.name + "'");
        return;
      }
    });

	if ($('.main-search-input-item')[0]) {
	    setTimeout(function(){ 
	        $(".pac-container").prependTo("#autocomplete-container");
	    }, 300);
	}
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete"></script>
