

<!-- Content
================================================== -->
<div class="fs-container">

	<div class="fs-inner-container content">
		<div class="fs-content">

			<!-- Search -->
			<section class="search">

				<div class="row">
					<div class="col-md-12">
						 <%= search_form_for @searching, url: search_path do |f| %>
							<!-- Row With Forms -->
							<div class="row with-forms">

								<!-- Main Search Input -->
								<div class="col-fs-6">
									<div class="input-with-icon">
										<i class="sl sl-icon-magnifier"></i>
										<%= text_field_tag :search, params[:search], placeholder: "Où ? dans quelle ville, adresse ?", class:"form-control", id:"autocomplete-input" %>
										<!--<input type="text" placeholder="What are you looking for?" value=""/>-->
									</div>
								</div>

								<!-- Main Search Input -->
								<div class="col-fs-4">
									<div class="input-with-icon location">
										<div id="autocomplete-container">
											 <%= f.select :category_artisan_eq, [["Plombier","Plombier"],["Serrurier","Serrurier"]], class:"chosen-select" %>
											<!--<input id="autocomplete-input" type="text" placeholder="Location">-->
										</div>
										<a href="#"><i class="fa fa-map-marker"></i></a>
									</div>
								</div>
						
								<div class="col-fs-2">
									<%= f.submit "Recherche", class:"button" %>
								</div>
							
	
							</div>
							<!-- Row With Forms / End -->
						<% end %>
					</div>
				</div>

			</section>
			<!-- Search / End -->


		<section class="listings-container margin-top-30">
			<!-- Sorting / Layout Switcher -->
			<div class="row fs-switcher">

				<div class="col-md-6">
					<!-- Showing Results -->
					<p class="showing-results">14 Results Found </p>
				</div>

			</div>


			<!-- Listings -->
			<div class="row fs-listings">
				 
				<!-- Listing Item -->
				<% if @arrCompanies.empty? %>
                        Aucune annonce ne correpond à votre recherche.
                    <% else %>
                        <% @arrCompanies.each do |company| %>
				<div class="col-lg-12 col-md-12">
					<div class="listing-item-container list-layout" data-marker-id="1">
						<a href="<%= company_path(company) %>" class="listing-item">
							
							<!-- Image -->
							<div class="listing-item-image">
								<%= image_tag company.photos[0].image.url(:medium) if company.photos.length > 0 %>
								<span class="tag"><%= company.category_artisan %></span>
							</div>
							
							<!-- Content -->
							<div class="listing-item-content">
								<div class="listing-badge now-open">Now Open</div>

								<div class="listing-item-inner">
									<h3><%= company.listingname %></h3>
									<span><%= company.address %></span>
									<div class="star-rating" data-rating="3.5">
										<div class="rating-counter">Nombre d'avis : <%= company.reviews.length %></div>
									</div>
								</div>

								<!--<span class="like-icon"></span>-->
							</div>
						</a>
					</div>
				</div>
				<!-- Listing Item / End -->
				
                        <% end %>
                    <% end %>
					
					<!-- Copyrights -->
					<div class="copyrights margin-top-0">© 2017 Listeo. All Rights Reserved.</div>

				</div>
			</div>
			<!-- Pagination Container / End -->
		</section>

		</div>
	</div>
	
	

		<!-- Map -->
		    <div id="sidebar">
		        <!-- map goes here -->
		        <div id="widget">
                
                 <script>
                      function initMap() {
                        <% if @arrCompanies.length > 0 %>
                            var uluru = {lat: <%= @arrCompanies[0].latitude %>, lng: <%= @arrCompanies[0].longitude %>};
                            var map = new google.maps.Map(document.getElementById('widget'), {
                              zoom: 13,
                              center: uluru
                            });
                        <% else %>
                            var uluru = {lat: 48.866667, lng: 2.333333};
                            var map = new google.maps.Map(document.getElementById('widget'), {
                              zoom: 4,
                              center: uluru
                            });
                        <% end %>
                        
                        <% @arrCompanies.each do |company| %>
                        var marker = new google.maps.Marker({
                          position: {lat: <%= company.latitude %>, lng: <%= company.longitude %>},
                          map: map,
                          title: "<%= company.listingname %>"
                        });
                        <% end %>
                      }
                </script>
                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkARqxRUMTTRU2qUZ9ew32CZGS2sRiwZ4&callback=initMap">
                    </script>
                
        		</div>
		    </div>
</div>



<script>
    $(document).ready(function(){
        $("#sidebar").stick_in_parent({offset_top: 20});
    });
</script>





