<div class="container">

		<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>Mon/Mes Entreprise(s)</h2>
				</div>
			</div>
		</div>

		<div class="row">
			
			<!-- Listings -->
			<div class="col-lg-12 col-md-12">
				<div class="dashboard-list-box margin-top-0">
					<h4>Entreprise(s) :</h4>
					
    <% @Companies.each do |company| %>
                    <ul>
						<li>
							<div class="list-box-listing">
								<div class="list-box-listing-img"><%= image_tag company.photos[0].image.url(:thumb) if company.photos.length > 0 %></div>
								<div class="list-box-listing-content">
									<div class="inner">
										<h3><%= company.listingname %></h3>
										<span><%= company.address %></span>
										<div class="star-rating" data-rating="3.5">
											<div class="rating-counter">Avis : <%= company.reviews.length %></div>
										</div>
									</div>
								</div>
							</div>
							<div class="buttons-to-right">
								<%= link_to "Mettre à jour", edit_company_path(company), class:"button gray" %>
								<%= link_to "Supprimer", company_path(company), method: :delete, data: {confirm: "êtes-vous sûr ?"}, class:"button gray" %>
							</div>
						</li>

					</ul>
	<% end %>
				</div>
			</div>


			<!-- Copyrights -->
			<div class="col-md-12">
				<div class="copyrights">© 2017 Listeo. All Rights Reserved.</div>
			</div>
		</div>

	</div>
	<!-- Content / End -->


</div>









