 <!-- Header Container
================================================== -->
<header id="header-container">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<%= link_to root_path do %>
   					<%= image_tag "logo.png" %>
					<% end %>
				</div>

				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul id="responsive">

						<li><a class="current" href="#">Accueil</a>
						</li>

						<li><a href="#">Listings</a>
							<ul>
								<li><a href="#">List Layout</a>
									<ul>
										<li><a href="listings-list-with-sidebar.html">With Sidebar</a></li>
										<li><a href="listings-list-full-width.html">Full Width</a></li>
										<li><a href="listings-list-full-width-with-map.html">Full Width + Map</a></li>
									</ul>
								</li>
								<li><a href="#">Grid Layout</a>
									<ul>
										<li><a href="listings-grid-with-sidebar-1.html">With Sidebar 1</a></li>
										<li><a href="listings-grid-with-sidebar-2.html">With Sidebar 2</a></li>
										<li><a href="listings-grid-full-width.html">Full Width</a></li>
										<li><a href="listings-grid-full-width-with-map.html">Full Width + Map</a></li>
									</ul>
								</li>
								<li><a href="#">Half Screen Map</a>
									<ul>
										<li><a href="listings-half-screen-map-list.html">List Layout</a></li>
										<li><a href="listings-half-screen-map-grid-1.html">Grid Layout 1</a></li>
										<li><a href="listings-half-screen-map-grid-2.html">Grid Layout 2</a></li>
									</ul>
								</li>
								<li><a href="listings-single-page.html">Single Listing 1</a></li>
								<li><a href="listings-single-page-2.html">Single Listing 2</a></li>
							</ul>
						</li>

						<li><a href="#">User Panel</a>
							<ul>
								<li><a href="dashboard.html">Dashboard</a></li>
								<li><a href="dashboard-messages.html">Messages</a></li>
								<li><a href="dashboard-bookings.html">Bookings</a></li>
								<li><a href="dashboard-my-listings.html">My Listings</a></li>
								<li><a href="dashboard-reviews.html">Reviews</a></li>
								<li><a href="dashboard-bookmarks.html">Bookmarks</a></li>
								<li><a href="dashboard-add-listing.html">Add Listing</a></li>
								<li><a href="dashboard-my-profile.html">My Profile</a></li>
								<li><a href="dashboard-invoice.html">Invoice</a></li>
							</ul>
						</li>

						<li><a href="#">Pages</a>
							<div class="mega-menu mobile-styles three-columns">

									<div class="mega-menu-section">
										<ul>
											<li class="mega-menu-headline">Pages #1</li>
											<li><a href="pages-user-profile.html"><i class="sl sl-icon-user"></i> User Profile</a></li>
											<li><a href="pages-booking.html"><i class="sl sl-icon-check"></i> Booking Page</a></li>
											<li><a href="pages-add-listing.html"><i class="sl sl-icon-plus"></i> Add Listing</a></li>
											<li><a href="pages-blog.html"><i class="sl sl-icon-docs"></i> Blog</a></li>
										</ul>
									</div>
		
									<div class="mega-menu-section">
										<ul>
											<li class="mega-menu-headline">Pages #2</li>
											<li><a href="pages-contact.html"><i class="sl sl-icon-envelope-open"></i> Contact</a></li>
											<li><a href="pages-coming-soon.html"><i class="sl sl-icon-hourglass"></i> Coming Soon</a></li>
											<li><a href="pages-404.html"><i class="sl sl-icon-close"></i> 404 Page</a></li>
											<li><a href="pages-masonry-filtering.html"><i class="sl sl-icon-equalizer"></i> Masonry Filtering</a></li>
										</ul>
									</div>

									<div class="mega-menu-section">
										<ul>
											<li class="mega-menu-headline">Other</li>
											<li><a href="pages-elements.html"><i class="sl sl-icon-settings"></i> Elements</a></li>
											<li><a href="pages-pricing-tables.html"><i class="sl sl-icon-tag"></i> Pricing Tables</a></li>
											<li><a href="pages-typography.html"><i class="sl sl-icon-pencil"></i> Typography</a></li>
											<li><a href="pages-icons.html"><i class="sl sl-icon-diamond"></i> Icons</a></li>
										</ul>
									</div>
									
							</div>
						</li>
						
						<li><a href="<%= contact_path %>">Contact</a>
						</li>
						
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">
				<div class="header-widget">
          
          
					<% if (!user_signed_in?) %>
              <%= link_to 'Inscription', new_user_registration_path, class: 'sign-in popup-with-zoom-anim' %>
              <%= link_to 'Connexion', new_user_session_path, class: 'sign-in popup-with-zoom-anim' %>
            <% else %>
            
            
           
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= image_tag avatar_url(current_user), class:"img-circle avatar-small" %> <%= current_user.fullname %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Mes rendez-vous', root_path %></li>
                <li><%= link_to "Mes annonces", companies_path %></li>
                <li><%= link_to 'Mon profil', user_path(current_user.id) %></li>
                <li><%= link_to 'Modifier mon profil', edit_user_registration_path %></li>
                
                
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Deconnexion', destroy_user_session_path, method: :delete %></li>
              </ul>
            
        <% end %>
        
        
        <%= link_to new_company_path do %>
							<button class="button border with-icon">Vous êtes artisan ?</button>
          	<% end %>
          
				</div>
			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->
 
 <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'MyRepair', root_path, {:class=>"navbar-brand"} %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
          <%= form_tag search_path, class:"navbar-form navbar-left", method: :get do %>
              <div class="search">
                <span class="fa fa-search"></span>
                <%= text_field_tag :search, params[:search], placeholder:"Rechercher", class:"form-control" %>
              </div>
          <% end %>
          
          <ul class="nav navbar-nav">
          	<li>
          		<%= link_to 'Inscription', new_user_registration_path %>
          	</li>
          </ul>
          
          
          <ul class="nav navbar-nav navbar-right">
            
            <li>
              <%= link_to new_company_path do %>
                <i class="fa fa-home fa-lg"></i>Vous êtes artisan ?
              <% end %>
            </li>
            
            <li>
              <%= link_to conversations_path do %>
                Messages
              <% end %>
            </li>
            
            <% if (!user_signed_in?) %>
              <li><%= link_to 'Inscription', new_user_registration_path %></li>
              <li><%= link_to 'Connexion', new_user_session_path %></li>
            <% else %>
            
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= image_tag avatar_url(current_user), class:"img-circle avatar-small" %> <%= current_user.fullname %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Mes rendez-vous', root_path %></li>
                <li><%= link_to "Mes annonces", companies_path %></li>
                <li><%= link_to 'Mon profil', user_path(current_user.id) %></li>
                <li><%= link_to 'Modifier mon profil', edit_user_registration_path %></li>
                
                
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Deconnexion', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
        <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>